spring:
  datasource:
    url: jdbc:mysql://localhost:3306/${DATABASE_NAME:COLEGIO_MOZART}?useSSL=false&serverTimezone=America/Rio_Branco&allowPublicKeyRetrieval=true
    driverClassName: com.mysql.cj.jdbc.Driver
    username: ${USERNAME_DB}
    password: ${PASSWORD_DB}

  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        hbm2ddl:
          import_files: META-INF/sql/mysql/import.sql

    show-sql: true
    hibernate:
      ddl-auto: create-drop
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl